.idea
CMakeCache.txt
CMakeFiles/
Makefile
cmake-build-debug/
cmake-build-default/
cmake-build-minsizerel/
cmake-build-release/
cmake-build-relwithdebinfo/
cmake_install.cmake
dist/
libwmdrelax.egg-info/

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
